*{
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    max-width:  100%;
    max-height: 100%;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#clock-container {
    width: 800px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid black;
    margin: 50px auto 10px auto;
    position: relative;
}

#clock-container::after{
    content: '';
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

#times{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#times span{
    width: 90px;
    height: 50%;
    text-align: center;
    position: absolute;
    left: 50%;
    transform-origin: 50% 100%;
    font-size: 50px;
    display: block;
}

#times span:nth-child(1){
    transform: translate(-50%, 0) rotate(30deg);
}

#times span:nth-child(2){
    transform: translate(-50%, 0) rotate(calc(30deg * 2));
}

#times span:nth-child(3){
    transform: translate(-50%, 0) rotate(calc(30deg * 3));
}

#times span:nth-child(4){
    transform: translate(-50%, 0) rotate(calc(30deg * 4));
}

#times span:nth-child(5){
    transform: translate(-50%, 0) rotate(calc(30deg * 5));
}

#times span:nth-child(6){
    transform: translate(-50%, 0) rotate(calc(30deg * 6));
}

#times span:nth-child(7){
    transform: translate(-50%, 0) rotate(calc(30deg * 7));
}

#times span:nth-child(8){
    transform: translate(-50%, 0) rotate(calc(30deg * 8));
}

#times span:nth-child(9){
    transform: translate(-50%, 0) rotate(calc(30deg * 9));
}

#times span:nth-child(10){
    transform: translate(-50%, 0) rotate(calc(30deg * 10));
}

#times span:nth-child(11){
    transform: translate(-50%, 0) rotate(calc(30deg * 11));
}

#times span:nth-child(12){
    transform: translate(-50%, 0) rotate(calc(30deg * 12));
}

#sec-hand, #min-hand, #hour-hand{
    transform-origin: 50% 100%;
    border-radius: 50% 50% 0 0;
}
#sec-hand {
    width: 3px;
    height: 35%;
    background-color: red;
    margin-top: 5%;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 0);
}

#min-hand, #hour-hand{
    width: 8px;
    background-color: black;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 0);

}

#min-hand {
    height: 38%;
}

#hour-hand {
    height: 30%;
}

#analog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 1rem;
}

#analog span {
    padding: 15px 30px;
    /* border: 2px solid rgb(189, 189, 189); */
    font-size: 30px;
    background-color: black;
    color: rgb(189, 189, 189);
}

#analog button {
    padding: 15px 30px;
    font-size: 30px;
    background-color: green;
    color: white;
    border: none;
    margin-left: 50px;
}

#stopAlarmBtn{
    display: none;
}

#set-alarm-modal {
    position: fixed;
    top: 300px;
    left: 50%;
    translate: -50% 0;
    background-color: white;
    border: 2px groove grey;
    padding: 20px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 1rem;
    display: none;
}

#set-alarm-modal label {
    font-size: 30px;
    margin-right: 20px;
}

#set-alarm-modal :is(input, select) {
    width: 200px;
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 30px;
}

#set-alarm-modal button {
    padding: 5px 40px;
    font-size: 30px;
    background-color: rgb(32, 167, 32);
    color: white;
    border: none;
    border-radius: 20px;
    margin: 10px 5px 0 5px;
}

#cancel{
    background-color: rgb(226, 83, 83)
}

#alarm-sound{
    display:none
}